# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore sensitive data files
secrets.json
config.json

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/